// Слайдер с картинкой на странице продукта и блоком наплывашкой

// Анимация для кнопки

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

// Серый блок со слайдером и катинкой

.product-content-gray {
    @include flexbox (space-between,);
    background-color: #F7F7F7;
    margin-top: -65px;
    padding-bottom: $shift;
}

.product-center-photo {
    display: flex;
}

.product-big-img {
    margin: 0 auto;
}

.product-slider-btn {
    padding: 13px 17px;
    background: rgba(42, 42, 42, 0.15);
    border: none;
}

.product-slider-btn:hover .product-slider-arrow {
    fill: #F16D7F;
}

.product-slider-arrow {
    fill: #000;
}

// Блок "наплывашка"

.container-product-about-box {
    background-color: #fff;
    @include flexbox;
    flex-direction: column;
    margin-top: -$shift;
    margin-bottom: 129px;
    border: solid 1px #EAEAEA;
}

// внутри наплывашки

.product-about-box-collection {
    margin-top: 65px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: $main-font-size;
    line-height: $main-font-size + 3px;
    color: #F16D7F;
    text-transform: uppercase;
}

.product-about-box-line-color {
    background-color: #EF5B70;
    height: 3px;
    width: 63px;
    border: none;
    margin: 0 auto;
}

.product-about-box-name-collection {
    text-transform: uppercase;
    font-weight: 300;
    font-size: $main-font-size + 4px;
    line-height: $main-font-size + 8px;
    color: #4D4D4D;
    margin-top: 12px;
}

.product-about-box-text {
    max-width: 555px;
    margin-top: 48px;
    font-weight: 300;
    font-size: $main-font-size;
    line-height: $main-font-size + 3px;
    text-align: center;
    color: #5E5E5E;
}

.product-about-box-price {
    margin-top: 32px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}

.product-about-box-line-grey {
    background-color: #EAEAEA;
    height: 1px;
    width: 641px;
    border: none;
    margin: 65px auto;
}

.product-about-box-sorting {
    margin: 0 auto;
}

.product-about-box-btn {
    display: flex;
    @include all-button;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    margin-bottom: 65px;
    padding-top: 14px;
    padding-bottom: 10px;
    vertical-align: middle;
    padding-right: 56px;
    background-color: #fff;
    color: #F26376;
    font-size: $main-font-size + 2px;
    line-height: $main-font-size + 5px;
    .product-card-btn-svg {
        fill: #EF5B70;
    }

    &:hover {
        animation: myAnim 2s ease 0s 1 normal forwards;
        background-color: #F26376;
        color: #fff;
        .product-card-btn-svg {
        fill: #fff;
        }
    }
}

.product-card-btn-svg {
    margin-left: 23px;
    margin-right: 22px;
}

